<Project>
  <PropertyGroup>
    <!-- Shared install directories -->
    <DvInstallDir>D:\Programs\Derail Valley</DvInstallDir>
    <UnityInstallDir>D:\Programs\Unity\2019.4.40f1\Editor</UnityInstallDir>
  </PropertyGroup>
</Project>
